In [8]:
# creating a dictionary option 1

dictionary= {}
type(dictionary)

dict

In [9]:
# creating a dictionary option 2

dictionary_2={
    "Name_6":"Joy Njuguna", 
    "Age_6":20, "Gender":"Female", 
    "Course_6":"Cyber Security", 
    "Name_7":"Ken", 
    "Age_7":30, 
    "Gender_7":"Male", 
    "Course_7":"Cyber Security"}
dictionary_2

{'Name_6': 'Joy Njuguna',
 'Age_6': 20,
 'Gender': 'Female',
 'Course_6': 'Cyber Security',
 'Name_7': 'Ken',
 'Age_7': 30,
 'Gender_7': 'Male',
 'Course_7': 'Cyber Security'}

In [10]:
# creating a dictionary option 3

dictionary_3=dict(Name = "KIthusi Emmanuel", Age = 25, Gender = "Male", Course = "Data science")
dictionary_3

{'Name': 'KIthusi Emmanuel',
 'Age': 25,
 'Gender': 'Male',
 'Course': 'Data science'}

In [11]:
# adding key value pairs to dictionaries option 1

dictionary["Name"] = "Kithusi Emmanuel"
dictionary["Age"] = 23
dictionary["Gender"] = "Male"
dictionary["Course"] = "Data science"

dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Male',
 'Course': 'Data science'}

In [12]:
# adding key value pairs to dictionary

dictionary["Name_2"] = "Jackline Njue"
dictionary["Age_2"] = 28
dictionary["Gender_2"] = "Female"
dictionary["Course_2"] = "Data engineering"
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Male',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering'}

In [13]:
#Extractig a value from a key
# If we wanted to extract the value for this key, we could do it by using the key as an index. 

dictionary["Name"], dictionary["Name_2"]

('Kithusi Emmanuel', 'Jackline Njue')

In [14]:
dictionary.update({
    "Name_3":"James Mwangi", 
    "Age_3":26, 
    "Gender_3":"Male", 
    "Course_3":"Backend Engineering"})
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Male',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering'}

In [15]:
dictionary.update(dict(
    Name_4 = "Newton",
    Age_4 = 21,
    Gender_4 ="Male",
    Course_4 = "Full-stack developer"))
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Male',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering',
 'Name_4': 'Newton',
 'Age_4': 21,
 'Gender_4': 'Male',
 'Course_4': 'Full-stack developer'}

In [16]:
# Adding another dictionary inside another
dictionary.update(dictionary_2)
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Female',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering',
 'Name_4': 'Newton',
 'Age_4': 21,
 'Gender_4': 'Male',
 'Course_4': 'Full-stack developer',
 'Name_6': 'Joy Njuguna',
 'Age_6': 20,
 'Course_6': 'Cyber Security',
 'Name_7': 'Ken',
 'Age_7': 30,
 'Gender_7': 'Male',
 'Course_7': 'Cyber Security'}

In [17]:
# removing key value-pairs in a dictionary
# We achive throght the del function

# del dictionary["Name_6"]
# del dictionary["Age_6"]
# del dictionary["Gender_6"]
# del dictionary["Course_6"]
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Female',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering',
 'Name_4': 'Newton',
 'Age_4': 21,
 'Gender_4': 'Male',
 'Course_4': 'Full-stack developer',
 'Name_6': 'Joy Njuguna',
 'Age_6': 20,
 'Course_6': 'Cyber Security',
 'Name_7': 'Ken',
 'Age_7': 30,
 'Gender_7': 'Male',
 'Course_7': 'Cyber Security'}

In [18]:
# del dictionary_3

In [19]:
dictionary_3

{'Name': 'KIthusi Emmanuel',
 'Age': 25,
 'Gender': 'Male',
 'Course': 'Data science'}

In [20]:
print(dictionary)

{'Name': 'Kithusi Emmanuel', 'Age': 23, 'Gender': 'Female', 'Course': 'Data science', 'Name_2': 'Jackline Njue', 'Age_2': 28, 'Gender_2': 'Female', 'Course_2': 'Data engineering', 'Name_3': 'James Mwangi', 'Age_3': 26, 'Gender_3': 'Male', 'Course_3': 'Backend Engineering', 'Name_4': 'Newton', 'Age_4': 21, 'Gender_4': 'Male', 'Course_4': 'Full-stack developer', 'Name_6': 'Joy Njuguna', 'Age_6': 20, 'Course_6': 'Cyber Security', 'Name_7': 'Ken', 'Age_7': 30, 'Gender_7': 'Male', 'Course_7': 'Cyber Security'}

In [21]:
dictionary

{'Name': 'Kithusi Emmanuel',
 'Age': 23,
 'Gender': 'Female',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering',
 'Name_4': 'Newton',
 'Age_4': 21,
 'Gender_4': 'Male',
 'Course_4': 'Full-stack developer',
 'Name_6': 'Joy Njuguna',
 'Age_6': 20,
 'Course_6': 'Cyber Security',
 'Name_7': 'Ken',
 'Age_7': 30,
 'Gender_7': 'Male',
 'Course_7': 'Cyber Security'}

In [24]:
# changing a value/ updating

dictionary["Name"]="Kithusi N Emmanuel"

dictionary

{'Name': 'Kithusi N Emmanuel',
 'Age': 23,
 'Gender': 'Female',
 'Course': 'Data science',
 'Name_2': 'Jackline Njue',
 'Age_2': 28,
 'Gender_2': 'Female',
 'Course_2': 'Data engineering',
 'Name_3': 'James Mwangi',
 'Age_3': 26,
 'Gender_3': 'Male',
 'Course_3': 'Backend Engineering',
 'Name_4': 'Newton',
 'Age_4': 21,
 'Gender_4': 'Male',
 'Course_4': 'Full-stack developer',
 'Name_6': 'Joy Njuguna',
 'Age_6': 20,
 'Course_6': 'Cyber Security',
 'Name_7': 'Ken',
 'Age_7': 30,
 'Gender_7': 'Male',
 'Course_7': 'Cyber Security'}

In [28]:
# We use the update funtion to add new key value pairs in a dictionary

## Nested Dictionary

In [30]:
alx_students = {
    "student_1":{
        "Name":"Kithusi Emmanuel",
        "Age":23,
        "Gender":"Male",
        "Program":"Data science"},
    "student_2":{
        "Name":"Jackline Njue",
        "Age":28,
        "Gender":"Female",
        "Program":"Data analytics"},
    "student_3":{
        "Name":"Mercy Mumo",
        "Age":25,
        "Gender":"Female",
        "Program":"Data Engineering"},
    "student_4":{
        "Name":"Esther Ngatia",
        "Age":21,
        "Gender":"Female",
        "Program":"Computer science"},
    "student_5":{
        "Name": "James Mwangi",
        "Age":26,
        "Gender":"Male",
        "Program":"Back end dev"}
}

alx_students

{'student_1': {'Name': 'Kithusi Emmanuel',
  'Age': 23,
  'Gender': 'Male',
  'Program': 'Data science'},
 'student_2': {'Name': 'Jackline Njue',
  'Age': 28,
  'Gender': 'Female',
  'Program': 'Data analytics'},
 'student_3': {'Name': 'Mercy Mumo',
  'Age': 25,
  'Gender': 'Female',
  'Program': 'Data Engineering'},
 'student_4': {'Name': 'Esther Ngatia',
  'Age': 21,
  'Gender': 'Female',
  'Program': 'Computer science'},
 'student_5': {'Name': 'James Mwangi',
  'Age': 26,
  'Gender': 'Male',
  'Program': 'Back end dev'}}

In [31]:
# Modifying the name of student 1
alx_students["student_1"]["Name"]="Kithusi N Emmanuel"

alx_students

{'student_1': {'Name': 'Kithusi N Emmanuel',
  'Age': 23,
  'Gender': 'Male',
  'Program': 'Data science'},
 'student_2': {'Name': 'Jackline Njue',
  'Age': 28,
  'Gender': 'Female',
  'Program': 'Data analytics'},
 'student_3': {'Name': 'Mercy Mumo',
  'Age': 25,
  'Gender': 'Female',
  'Program': 'Data Engineering'},
 'student_4': {'Name': 'Esther Ngatia',
  'Age': 21,
  'Gender': 'Female',
  'Program': 'Computer science'},
 'student_5': {'Name': 'James Mwangi',
  'Age': 26,
  'Gender': 'Male',
  'Program': 'Back end dev'}}

In [33]:
# adding data in a nested dictionary

alx_students["student_6"]={
    "Name":"Ezekiel Chyalo",
    "Age":20,
    "Gender":"Male",
    "Program":"ICT",
}

alx_students

{'student_1': {'Name': 'Kithusi N Emmanuel',
  'Age': 23,
  'Gender': 'Male',
  'Program': 'Data science'},
 'student_2': {'Name': 'Jackline Njue',
  'Age': 28,
  'Gender': 'Female',
  'Program': 'Data analytics'},
 'student_3': {'Name': 'Mercy Mumo',
  'Age': 25,
  'Gender': 'Female',
  'Program': 'Data Engineering'},
 'student_4': {'Name': 'Esther Ngatia',
  'Age': 21,
  'Gender': 'Female',
  'Program': 'Computer science'},
 'student_5': {'Name': 'James Mwangi',
  'Age': 26,
  'Gender': 'Male',
  'Program': 'Back end dev'},
 'student_6': {'Name': 'Ezekiel Chyalo',
  'Age': 20,
  'Gender': 'Male',
  'Program': 'ICT'}}

In [34]:
# Accessing the data inside a nested dictionary

alx_students["student_1"]

{'Name': 'Kithusi N Emmanuel',
 'Age': 23,
 'Gender': 'Male',
 'Program': 'Data science'}

In [35]:
alx_students["student_1"]["Name"]

'Kithusi N Emmanuel'

In [36]:
alx_students["student_1"]["Name"]="Kithusi Emmanuel"

alx_students

{'student_1': {'Name': 'Kithusi Emmanuel',
  'Age': 23,
  'Gender': 'Male',
  'Program': 'Data science'},
 'student_2': {'Name': 'Jackline Njue',
  'Age': 28,
  'Gender': 'Female',
  'Program': 'Data analytics'},
 'student_3': {'Name': 'Mercy Mumo',
  'Age': 25,
  'Gender': 'Female',
  'Program': 'Data Engineering'},
 'student_4': {'Name': 'Esther Ngatia',
  'Age': 21,
  'Gender': 'Female',
  'Program': 'Computer science'},
 'student_5': {'Name': 'James Mwangi',
  'Age': 26,
  'Gender': 'Male',
  'Program': 'Back end dev'},
 'student_6': {'Name': 'Ezekiel Chyalo',
  'Age': 20,
  'Gender': 'Male',
  'Program': 'ICT'}}

In [38]:
# The keys() method- this method returns or the keys in a dictionary

alx_students.keys()

dict_keys(['student_1', 'student_2', 'student_3', 'student_4', 'student_5', 'student_6'])

In [39]:
alx_students["student_1"].keys()

dict_keys(['Name', 'Age', 'Gender', 'Program'])

In [40]:
# The values method - this method returns all the values in a dictionary

alx_students.values()

dict_values([{'Name': 'Kithusi Emmanuel', 'Age': 23, 'Gender': 'Male', 'Program': 'Data science'}, {'Name': 'Jackline Njue', 'Age': 28, 'Gender': 'Female', 'Program': 'Data analytics'}, {'Name': 'Mercy Mumo', 'Age': 25, 'Gender': 'Female', 'Program': 'Data Engineering'}, {'Name': 'Esther Ngatia', 'Age': 21, 'Gender': 'Female', 'Program': 'Computer science'}, {'Name': 'James Mwangi', 'Age': 26, 'Gender': 'Male', 'Program': 'Back end dev'}, {'Name': 'Ezekiel Chyalo', 'Age': 20, 'Gender': 'Male', 'Program': 'ICT'}])

In [41]:
alx_students["student_1"].values()

dict_values(['Kithusi Emmanuel', 23, 'Male', 'Data science'])

In [42]:
# The items() method - this method returns both keys and there corresponding values

alx_students.items()

dict_items([('student_1', {'Name': 'Kithusi Emmanuel', 'Age': 23, 'Gender': 'Male', 'Program': 'Data science'}), ('student_2', {'Name': 'Jackline Njue', 'Age': 28, 'Gender': 'Female', 'Program': 'Data analytics'}), ('student_3', {'Name': 'Mercy Mumo', 'Age': 25, 'Gender': 'Female', 'Program': 'Data Engineering'}), ('student_4', {'Name': 'Esther Ngatia', 'Age': 21, 'Gender': 'Female', 'Program': 'Computer science'}), ('student_5', {'Name': 'James Mwangi', 'Age': 26, 'Gender': 'Male', 'Program': 'Back end dev'}), ('student_6', {'Name': 'Ezekiel Chyalo', 'Age': 20, 'Gender': 'Male', 'Program': 'ICT'})])

In [44]:
alx_students["student_1"].items()

dict_items([('Name', 'Kithusi Emmanuel'), ('Age', 23), ('Gender', 'Male'), ('Program', 'Data science')])