<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Lists

In this notebook, we will look at how to create lists and some of the ways we can manipulate them.

## Learning objectives

By the end of this train, you should:

- Know how to create a regular list and a nested list.
- Understand the operations that can be performed on lists such as concatenation, copying, and sorting.
- Know how to use indexing to access elements and slice a list.
- Understand list characteristics such as mutability and duplicates.

## Examples

### 1. Initialise an empty list

An empty list is created by assigning empty square brackets, `[ ]`, to a variable.

In [1]:
# Create an empty list called "mammals"
mammals = []
mammals

[]

---
### 2. Create a list
---

A list can be explicitly created by **assigning a group of comma-separated values** enclosed within **square brackets** to a variable.

In [2]:
# Create a list, defined within square brackets
mammals = ["Lion", "Elephant", "Dolphin"]
mammals

['Lion', 'Elephant', 'Dolphin']

In [3]:
fellowship_attendance = ["Kithusi", "Sanglan", "Mercy", "Matata", "Cyrus"]
fellowship_attendance

['Kithusi', 'Sanglan', 'Mercy', 'Matata', 'Cyrus']

We can also use the `list()` constructor to create a list from an iterable, such as a tuple.

In [4]:
# Create a list from a tuple using the list constructor
birds = list(("Eagle", "Penguin", "Parrot"))
birds

['Eagle', 'Penguin', 'Parrot']

In [5]:
fellowship_attendance_tuple = ("Esther", "Ariti", "Ezekiel", "Anne")

felleowship_attendance_list = list(fellowship_attendance_tuple)

print(type(felleowship_attendance_list))

<class 'list'>

---
### 3. Range() function
---

We can use the `range()` function to **generate a sequence of numbers** based on a given start and end point.

> Syntax: `range(start, stop, step)`

- **start:** An integer number specifying the start point (**included**).
- **stop:** An integer number specifying the end point (**not included**).
- **step:** An integer number specifying the incrementation. The default is 1.

We then pass the result of the range function to the `list()` constructor to convert it to a list.

In [6]:
# Generate a sequence of numbers starting from 0 to 4
range_list = list(range(0,5))
range_list

[0, 1, 2, 3, 4]

In [7]:
# Generate a sequence of numbers starting from 0 to 20 with an increament of 2
range_list_2 = list(range(0, 20, 2))
range_list_2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 4. Print a list

To view the contents of a list, we can pass the list variable name to the `print()` function.

In [8]:
# Print the contents of the variables, birds and range_list
print(birds)
print(range_list)
print(range_list_2)

['Eagle', 'Penguin', 'Parrot']
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
print(fellowship_attendance)

['Kithusi', 'Sanglan', 'Mercy', 'Matata', 'Cyrus']

### 5. List type

To verify that our variable is a `list`, we can pass the variable name to the `type()` function.

In [10]:
# Check the type of the variable
type(birds)

list

The output `list` confirms that we have created a list.

---
### 6. Concatenating lists
---

We can concatenate two lists using the `+` operator. This creates a new list containing elements from both lists.

In [11]:
# Combine the mammals and birds lists
animals_combined = mammals + birds
print(animals_combined)

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']

In [12]:
fellowship_attendance = fellowship_attendance + felleowship_attendance_list

fellowship_attendance

['Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne']

---
### 7. Copying a list
---

A copy of a list can be created using the `copy()` method. This is useful when we want to modify a copy of a list while keeping the original unchanged.

In [13]:
# Create a copy of the mammals list
mammals_copy = mammals.copy()

print(mammals, mammals_copy)

['Lion', 'Elephant', 'Dolphin'] ['Lion', 'Elephant', 'Dolphin']

In [14]:
monday_fellowship = fellowship_attendance.copy()
print(monday_fellowship)

['Kithusi', 'Sanglan', 'Mercy', 'Matata', 'Cyrus', 'Esther', 'Ariti', 'Ezekiel', 'Anne']

---
### 8. Nested lists
---

Nested lists occur when we have a **list containing another list or lists** as its element(s). They are useful when working with structured data.

We can create a nested list by assigning two or more list variable names, separated by commas, to a variable.

In [15]:
# Create a nested list containing the mammals and birds lists within it
animals_grouped = [mammals, birds]
print(animals_grouped)

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]

In [16]:
total_attendance = [monday_fellowship, felleowship_attendance_list]
total_attendance

[['Kithusi',
  'Sanglan',
  'Mercy',
  'Matata',
  'Cyrus',
  'Esther',
  'Ariti',
  'Ezekiel',
  'Anne'],
 ['Esther', 'Ariti', 'Ezekiel', 'Anne']]

Alternatively, we can create a nested list by using lists directly in the variable definition.

In [17]:
# Create a nested list containing the mammals and birds lists within it
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
print(animals_grouped)

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]

### 9. Indexing 

Since lists are ordered, each element is **assigned an index** that corresponds to its position, starting with index 0.

Therefore, the index of an item is **equal to its position in the list, less one**. For example, the **4th element** will have the index `3`.

#### a) `index()` method

We can use the `index()` method to return the index of a specified value.

In [18]:
# Return the index of the "Eagle" element from the birds list
first_index = birds.index("Eagle")
print(first_index)

0

In [19]:
second_index = fellowship_attendance.index("Sanglan")
second_index

1

**Note:** If the specified value appears multiple times in the list, the `index()` function will return the index of the **first occurrence** of that value.

#### b) Access elements in a simple list

We can use the index notation to access a specific element using its index.

> **Syntax:** `list[index]`

For instance, if we want to **access the 2nd element** in the list, we will **pass the index** `1` to the notation. The value at index 1 is returned.

In [20]:
# Return the element at index 1 from birds
second_item = birds[1]
print(second_item)

Penguin

In [21]:
#Accessing the third person in the list of of the fellowship attendance

third_person = fellowship_attendance[2]

third_person

'Mercy'

#### c) Access elements in a nested list

When it comes to nested lists, we can either access an entire inner list or a specific element within an inner list.

To **access an entire inner list**, we use the index corresponding to the list's position within the nested list.

In [22]:
# Return the inner list at index 0
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
mammals = animals_grouped[0]
print(mammals)

['Lion', 'Elephant', 'Dolphin']

In [23]:
#Accessing the fist list in our total attendance list
total_attendance[0]

['Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne']

To **access a specific element within an inner list**, we use multiple indices, each corresponding to a level of nesting.

In [24]:
# Return the element at index 1 from the inner list at index 0
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
second_mammal = animals_grouped[0][1]
print(second_mammal)

Elephant

In [25]:
#Accessing the third person in the first list

total_attendance[0][2]

'Mercy'

### 10. Slicing

We use slicing when we wish to **return a sequence of values** from a list instead of just a single value.

> **Syntax:** `list[start:end]`

- **start:** The index from which the slicing begins (included).
- **end:** The index at which the slicing ends (not included).

For instance, if we want to slice from the **3rd** to the **5th element**, the start index will be `2` (to be included), and the end index will be `5` (not to be included).

In [26]:
# Slice animals_combined from index 2 to index 4
animals_combined = ['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
sliced_list = animals_combined[2:5]
print(sliced_list)

['Dolphin', 'Eagle', 'Penguin']

### 11. Duplicates

Since lists are ordered and indexed, they **allow duplicate elements**.

In [27]:
# Duplicate the mammals list
mammals_duplicated = mammals + mammals
print(mammals_duplicated)

['Lion', 'Elephant', 'Dolphin', 'Lion', 'Elephant', 'Dolphin']

---
### 12. Modification
---
Lists are also mutable allowing us to **add, remove, or modify** elements in an existing list.

#### a) Adding elements:
---
- `append()`: This adds the element passed into it **as a single element** to the end of the list.
---
- `extend()`: This adds elements passed into it **as separate elements** to the end of the list.
---
- `insert()`: This inserts an element at a specified position.
---

In [28]:
mammals_copy = mammals.copy()

# Add a list element to mammals_copy
mammals_copy.append(["Cat", "Dog"])
print(mammals_copy)

# Add individual elements to mammals_copy
mammals_copy.extend(["Bear", "Horse"])
print(mammals_copy)

# Add an element to mammals_copy at index 3
mammals_copy.insert(3, "Tiger")
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog']]
['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']

In [29]:
#Append adds an individual element to end of the list

fellowship_attendance.append("Celestine")

In [30]:
fellowship_attendance

['Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne',
 'Celestine']

In [31]:
#Extend adds miltiple elements in the list at the end of the list

fellowship_attendance.extend(["Davie", "Mike"])

In [32]:
fellowship_attendance

['Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne',
 'Celestine',
 'Davie',
 'Mike']

In [33]:
#Insert adds an element at a particular position

fellowship_attendance.insert(0, "Charles")

In [34]:
fellowship_attendance

['Charles',
 'Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne',
 'Celestine',
 'Davie',
 'Mike']

## üß© 1Ô∏è‚É£ `append()`

Adds ONE item to the end of the list.

‚úÖ Example:
    
fruits = ["apple", "banana"]
fruits.append("mango")
print(fruits)

üì§ Output:

['apple', 'banana', 'mango']

üëâ Even if you append a list, it gets added as one single element:

fruits.append(["orange", "grape"])
print(fruits)

üì§ Output:

['apple', 'banana', 'mango', ['orange', 'grape']]

Notice how the new list stayed nested inside.

## üß© 2Ô∏è‚É£ `extend()`

Adds multiple items to the list ‚Äî each element is added separately.

‚úÖ Example:

fruits = ["apple", "banana"]
fruits.extend(["mango", "orange"])
print(fruits)

üì§ Output:

['apple', 'banana', 'mango', 'orange']

üëâ Unlike append(), extend() unpacks the iterable (list, tuple, etc.) and adds each element one by one.

## üß© 3Ô∏è‚É£ `insert()`

Inserts one item at a specific position (index).

‚úÖ Example:

fruits = ["apple", "banana", "mango"]
fruits.insert(1, "orange")
print(fruits)

üì§ Output:

['apple', 'orange', 'banana', 'mango']

üëâ Here:

1 = index where you want to insert

"orange" = item you‚Äôre adding

So "orange" is placed before the item that was originally at index 1.

üß† In summary

| Method     | What It Does                             | Example                              | Result                                   |
| ---------- | ---------------------------------------- | ------------------------------------ | ---------------------------------------- |
| `append()` | Adds a single item to the **end**        | `fruits.append("mango")`             | `['apple', 'banana', 'mango']`           |
| `extend()` | Adds **multiple items** to the **end**   | `fruits.extend(["mango", "orange"])` | `['apple', 'banana', 'mango', 'orange']` |
| `insert()` | Adds one item at a **specific position** | `fruits.insert(1, "orange")`         | `['apple', 'orange', 'banana']`          |

The main Difference between `append()` and `extend()`
---

### üß© Example:

```python
fruits = ["apple", "banana"]
```

#### üçé Using `append()`:

```python
fruits.append(["mango", "orange"])
print(fruits)
```

üì§ **Output:**

```
['apple', 'banana', ['mango', 'orange']]
```

‚úÖ `append()` added the *entire list* `["mango", "orange"]` as **one single element** ‚Äî see the nested list?

---

#### üçä Using `extend()`:

```python
fruits = ["apple", "banana"]
fruits.extend(["mango", "orange"])
print(fruits)
```

üì§ **Output:**

```
['apple', 'banana', 'mango', 'orange']
```

‚úÖ `extend()` added **each element** from the new list *individually*.

---

### üîç Summary

| Method      | Adds                           | Result                                     |
| ----------- | ------------------------------ | ------------------------------------------ |
| `append(x)` | Adds `x` as **one item**       | `['apple', 'banana', ['mango', 'orange']]` |
| `extend(x)` | Adds **each element inside x** | `['apple', 'banana', 'mango', 'orange']`   |

---

üß† Think of it like this:

> `append()` adds **the box** itself.

> `extend()` opens the box and adds **everything inside** it.

#### b) Removing elements:

- `del()`: This deletes an element or multiple elements from the list at the specified index value/s.
- `remove()`: This removes the first occurrence of a specified value from the list.
- `pop()`: This removes and returns the element at the specified index.


Let‚Äôs break each one down clearly with examples and when to use them üëá

---

## üß© b) Removing Elements from a List

### 1Ô∏è‚É£ `del`

**Deletes an element (or a slice of elements) by index.**
It doesn‚Äôt return anything ‚Äî it just removes them.

‚úÖ Example:

```python
fruits = ["apple", "banana", "mango", "orange"]
del fruits[1]       # Removes the element at index 1
print(fruits)
```

üì§ Output:

```
['apple', 'mango', 'orange']
```

You can also delete **multiple elements**:

```python
fruits = ["apple", "banana", "mango", "orange", "grape"]
del fruits[1:3]     # Removes elements from index 1 up to (but not including) 3
print(fruits)
```

üì§ Output:

```
['apple', 'orange', 'grape']
```

‚úÖ `del` can even delete the **entire list**:

```python
del fruits
```

---

### 2Ô∏è‚É£ `remove()`

**Removes the *first occurrence* of a specific value.**

‚úÖ Example:

```python
fruits = ["apple", "banana", "mango", "banana", "orange"]
fruits.remove("banana")
print(fruits)
```

üì§ Output:

```
['apple', 'mango', 'banana', 'orange']
```

üëâ Notice it removed **only the first "banana"**, not both.

‚ö†Ô∏è If the value doesn‚Äôt exist, Python throws an error:

```python
fruits.remove("pear")  # ‚ùå ValueError: list.remove(x): x not in list
```

---

### 3Ô∏è‚É£ `pop()`

**Removes an element at a given index and returns it.**

‚úÖ Example:

```python
fruits = ["apple", "banana", "mango"]
removed_item = fruits.pop(1)
print(removed_item)   # banana
print(fruits)         # ['apple', 'mango']
```

üëâ If you don‚Äôt specify an index, it removes the **last item** by default:

```python
fruits.pop()
```

üì§ Removes the last element and returns it.

---

### üß† Summary Table

| Method     | Removes by           | Returns Value? | Example                  | Notes                                 |
| ---------- | -------------------- | -------------- | ------------------------ | ------------------------------------- |
| `del`      | Index (or slice)     | ‚ùå No           | `del fruits[2]`          | Can delete multiple or entire list    |
| `remove()` | Value                | ‚ùå No           | `fruits.remove("mango")` | Only removes the *first* match        |
| `pop()`    | Index (default last) | ‚úÖ Yes          | `fruits.pop(1)`          | Useful when you need the removed item |

---

### üí° Quick Analogy

| Action     | Think of it like                          |
| ---------- | ----------------------------------------- |
| `del`      | ‚ÄúCut out the item at position X.‚Äù ‚úÇÔ∏è      |
| `remove()` | ‚ÄúFind this value and erase it.‚Äù üßΩ        |
| `pop()`    | ‚ÄúTake the item out and give it to me.‚Äù ü™Ñ |

---

In [35]:
print(mammals_copy)

# Remove the elements at index 4 and 5 from mammals_copy
del mammals_copy[4:6]
print(mammals_copy)

# Remove the element "Horse" from mammals_copy
mammals_copy.remove("Horse")
print(mammals_copy)

# Remove and return the element at index 2 from mammals_copy
third_mammal = mammals_copy.pop(2)
print(third_mammal)
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger']
Dolphin
['Lion', 'Elephant', 'Tiger']

In [36]:
attendance = fellowship_attendance.copy()

In [37]:
#Del - helps us to remove multiple elements from a list

del attendance[-6:]
attendance

['Charles', 'Kithusi', 'Sanglan', 'Mercy', 'Matata', 'Cyrus', 'Esther']

In [38]:
#remove- this removes the first occurence of the specified element

attendance.remove("Charles")
attendance

['Kithusi', 'Sanglan', 'Mercy', 'Matata', 'Cyrus', 'Esther']

In [39]:
#pop - removes the specified index element and calls it

attendance.pop(-2)

'Cyrus'

---
#### c) Modifying elements:
---

We can change the value of an element at a given index:

In [40]:
# Modify element at index 1
mammals_copy[1] = "Cheetah"
print(mammals_copy)

['Lion', 'Cheetah', 'Tiger']

In [41]:
#Modifying - Changine the name Davie to David

fellowship_attendance[-2] = "David"
fellowship_attendance

['Charles',
 'Kithusi',
 'Sanglan',
 'Mercy',
 'Matata',
 'Cyrus',
 'Esther',
 'Ariti',
 'Ezekiel',
 'Anne',
 'Celestine',
 'David',
 'Mike']

---
### 13. Check membership
---

We can check for the presence of an element in a list using the `in` keyword. If present, `True` is returned.

In [42]:
# Checking if the element "Tiger" is in the birds list
"Lion" in birds

False

In [43]:
# Checking if celestine is in the attendance list
"Celestine" in fellowship_attendance

True

In [44]:
#  Checking if Charles is in the attendance list

"Charlse" in fellowship_attendance

False

In [45]:
# Checking if the element "Tiger" is in the mammals list
"Lion" in mammals

True

---
### 14. Ordering a list
---

We can sort the elements in a list using two primary methods:

---
#### a) `sort()`
---

This sorts the list in ascending order **in place**. 

**Note:** To sort the list in descending order, we can specify the **reverse parameter** as `True`.

In [46]:
# Sort the elements in mammals_copy in ascending order, in place
mammals_copy.sort()
print(mammals_copy)

# Sort the elements in mammals_copy in descending order, in place
mammals_copy.sort(reverse=True)
print(mammals_copy)

['Cheetah', 'Lion', 'Tiger']
['Tiger', 'Lion', 'Cheetah']

In [47]:
#Sorting the created list in ascending order

list_ = list(range(15, 0, -1))
list_.sort()
list_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [48]:
#Sorting it back to descending

list_.sort(reverse= True)

list_

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
# Sorting in descending order

list_ = [1, 2, 8, 4, 7, 3, 6]
list_.sort(reverse = True)
print(list_)

[8, 7, 6, 4, 3, 2, 1]

#### b) `sorted()`

This returns a **new sorted list** without modifying the original one.

**Note:** To sort the list in descending order, we can specify the **reverse parameter** to `True`.

In [50]:
print(animals_combined)

# Create a new list containing the elements in animals_combined sorted in descending order
animals_sorted = sorted(animals_combined, reverse = True)
print(animals_sorted)

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
['Penguin', 'Parrot', 'Lion', 'Elephant', 'Eagle', 'Dolphin']

In [51]:
list_2 = [1, 2, 8, 4, 7, 3, 6]

#Ascending order
list_2_sorted_ascending = sorted(list_2)

# descending order
list_2_sorted_descending = sorted(list_2, reverse = True)

print(list_2)
print(list_2_sorted_ascending)
print(list_2_sorted_descending)

[1, 2, 8, 4, 7, 3, 6]
[1, 2, 3, 4, 6, 7, 8]
[8, 7, 6, 4, 3, 2, 1]

In [52]:
list_t = list(range(15, 0, -1))

list_asc = list_t = sorted(list_t)
print(f"Ascending order: \t{list_asc}")

list_desc = sorted(list_asc, reverse=True)
print(f"Descending order: \t{list_desc}")

Ascending order: 	[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Descending order: 	[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

---
### 15. Boolean methods
---

---
#### a) `any()`
---

Returns `True` if at least one element in the list evaluates to `True`.

**Note:** Values that evaluate to true include **non-zero numbers**, **non-empty sequences**, and the **boolean value `True`**.

In [53]:
# Check if at least one element in the list is True
boolean_list = [False, True]
any(boolean_list)

True

In [54]:

boolean =[False, False]
any(boolean)

False

---
#### b) `all()`
---
Returns `True` if all the elements in the list are `True`.

In [55]:
# Check if all the elements in the list are True
all(boolean_list)

False

### 16. Other list methods

There are some built-in methods we can use when working with lists.

---
#### a) `len()`
---
We use the `len()` function to determine how many elements a list has.

In [56]:
print(animals_grouped)

# Return the number of elements (inner lists) in animals_grouped
length_of_list = len(animals_grouped)
print(f"No. of animal groups: {length_of_list}")

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
No. of animal groups: 2

In [57]:
length_list = len(list_2)
print(f"The following list has the following elements {length_list}")

The following list has the following elements 7

---
#### b) `count()` 
---

We use `count()` to count the occurrences of a particular element.

In [58]:
birds = list(("Eagle", "Penguin", "Parrot"))

# Count the occurrence of the value "Parrot" in birds
count_parrot = birds.count("Parrot")
print(count_parrot)

1

## Use case:

Lists are therefore suitable for storing a dynamic collection of elements that may need to change, and whose order needs to be maintained.

For our library example, we can use a list to represent ordered books on a shelf. We can find a book using its position in the list which corresponds to its place on the shelf. We can also add and remove books from the list as needed.

## Summary

We have looked at some ways of creating lists and manipulating them. Take time to explore other methods and operations that can be performed on lists.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>