<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Sets

In this notebook, we will look at how to create sets and some of the ways we can manipulate them.

## Learning objectives

By the end of this train, you should:
- Know how to create a set and confirm its type.
- Know how to check membership in a set.
- Understand some set characteristics such as mutability and duplicates.
- Be familiar with certain set operations.

## Examples

### 1. Create a set

We create a set by assigning a **group of comma-separated values** enclosed **within curly brackets** to a variable.

In [1]:
# Create a set, defined within curly brackets
eats_plants = {"Giraffe", "Elephant", "Bear", "Rabbit", "Fox"}
print(eats_plants)

{'Fox', 'Bear', 'Giraffe', 'Rabbit', 'Elephant'}

In [2]:
fellowship_attendance = {"Kithusi", "Sanglan", "Mercy", "Matata", "Cyrus"}
print(fellowship_attendance)
print(type(fellowship_attendance))

{'Cyrus', 'Mercy', 'Matata', 'Sanglan', 'Kithusi'}
<class 'set'>

We can also use the `set()` constructor to create a set from other iterables such as lists.

In [3]:
# Create a set from a list using the set constructor
eats_meat = set(["Lion", "Tiger", "Bear", "Hawk", "Fox", "Lion"])
print(eats_meat)

{'Fox', 'Bear', 'Lion', 'Tiger', 'Hawk'}

**Note:** The set will retain **only unique elements** and any duplicates in the list will be removed.

### 2. Set type

If we want to confirm that our variable is of the `set` type, we can pass the variable name to the `type()` function.

In [4]:
# Check the type of the variable eats_plants
type(eats_plants)

set

The output `set` confirms that we have created a set.

### 3. Check membership in a set

Sets are **unordered**, which means elements are not assigned indexes. Therefore, they **do not support indexing** to access specific elements. 

However, we can check for the presence of an element in a set using the `in` keyword. If present, `True` is returned.

In [5]:
# Checking if the element "Lion" is in the set eats_meat
"Lion" in eats_meat

True

In [6]:
# Checking if Sanlan is in the fellowship attendance list 

"Sanglan" in fellowship_attendance

True

In [7]:
#Checking if charlse is in the fellowship attendance list

"Chalrse" in fellowship_attendance

False

In [8]:
# Checking if the element "Elephant" is in set eats_meat
"Elephant" in eats_meat

False

### 4. Duplicates 

Since sets are unordered, they **do not allow duplicates**.

Items with the same value are considered to be the same thing and will only be listed once.

In [9]:
# Set containing duplicates
eats_meat = {"Lion", "Tiger", "Bear", "Hawk", "Fox", "Lion"}
print(eats_meat)

{'Fox', 'Bear', 'Lion', 'Tiger', 'Hawk'}

### 5. Modification

Sets are also **mutable**. They support various methods for **adding** and **removing** elements.

---
#### a) Adding elements:
---

- `add()`: This adds a single element to the set.
---
- `update()`: This adds elements from an iterable, such as lists and other sets, to the set.
---

In [10]:
# Add the element "Cow" to the set eats_plants
eats_plants.add("Cow")
print(eats_plants)

{'Fox', 'Bear', 'Cow', 'Giraffe', 'Rabbit', 'Elephant'}

In [11]:
# Add multiple elements from another set
eats_meat.update({"Leopard", "Cheetah"})
print(eats_meat)

{'Fox', 'Bear', 'Cheetah', 'Leopard', 'Lion', 'Tiger', 'Hawk'}

In [12]:
#add - adds a single element to the set

fellowship_attendance.add("Esther")

In [13]:
fellowship_attendance

{'Cyrus', 'Esther', 'Kithusi', 'Matata', 'Mercy', 'Sanglan'}

In [14]:
# update - adds multiple elements eg from an iterable

fellowship_attendance.update({"Ariti", "Ezekiel", "Charlse", "Hariti", "Lalimbo"})

In [15]:
fellowship_attendance

{'Ariti',
 'Charlse',
 'Cyrus',
 'Esther',
 'Ezekiel',
 'Hariti',
 'Kithusi',
 'Lalimbo',
 'Matata',
 'Mercy',
 'Sanglan'}

---
#### b) Removing elements:
---

- `remove()`: This removes a specified element and it will raise an error if the element is not present.
---
- `discard()`: This removes a specified element but it will not raise an error if the element is not present.
---

In [16]:
# Remove the element "Rabbit" from set eats_plants
eats_plants.remove("Rabbit")
print(eats_plants)

{'Fox', 'Bear', 'Cow', 'Giraffe', 'Elephant'}

In [17]:
# Remove the element "Deer" from set eats_plants
eats_plants.discard("Deer")
print(eats_plants)

{'Fox', 'Bear', 'Cow', 'Giraffe', 'Elephant'}

In [18]:
fellowship_attendance.discard("Key")

In [19]:
# fellowship_attendance.remove("Charlse")
fellowship_attendance

{'Ariti',
 'Charlse',
 'Cyrus',
 'Esther',
 'Ezekiel',
 'Hariti',
 'Kithusi',
 'Lalimbo',
 'Matata',
 'Mercy',
 'Sanglan'}

**Note:** We can add and remove elements from a set but we **cannot change the value of an existing element** in the set.

---
### 6. Set operations
---

The speed and efficiency we get from set operations are due to sets containing unique elements. We can easily combine and compare sets using a few basic operations, discussed below.

---
#### a) Union ‚Äì `union()`:
---
This returns a new set containing a combination of all unique elements from both sets.

In [20]:
# Create a new set with all the animals from the eats_meat and eats_plants sets
all_animals = eats_meat.union(eats_plants)
print(all_animals)

{'Fox', 'Bear', 'Lion', 'Tiger', 'Hawk', 'Cow', 'Cheetah', 'Giraffe', 'Leopard', 'Elephant'}

In [21]:
monday_fellowship_attendance_1 = {"Kithusi", "Sanglan", "Mercy", "Matata", "Cyrus"}

monday_fellowship_attendance_2 = {"Kithusi", "Sanglan", "Mercy", "Matata", "Cyrus", "Esther", "Eliud", "Anne", "Ezekiel", "Ariti"}

In [22]:
# union - returns a set containing unique values from both list

total_attendance =monday_fellowship_attendance_1.union(monday_fellowship_attendance_2)
total_attendance

{'Anne',
 'Ariti',
 'Cyrus',
 'Eliud',
 'Esther',
 'Ezekiel',
 'Kithusi',
 'Matata',
 'Mercy',
 'Sanglan'}

#### b) Intersection ‚Äì `intersection()`:

This returns a new set containing common elements between two sets.

In [23]:
# Create a new set with animals that are common in both eats_meat and eats_plants sets
omnivores = eats_meat.intersection(eats_plants)
print(omnivores)

{'Fox', 'Bear'}

In [24]:
# intersection - it returns elements that exist in both list

attendees_in_both_list = monday_fellowship_attendance_1.intersection(monday_fellowship_attendance_2)
attendees_in_both_list

{'Cyrus', 'Kithusi', 'Matata', 'Mercy', 'Sanglan'}

In [25]:
#difference - returns elements only unique to the first list 

attndance = monday_fellowship_attendance_2.difference(monday_fellowship_attendance_1)
attndance

{'Anne', 'Ariti', 'Eliud', 'Esther', 'Ezekiel'}

#### c) Difference ‚Äì `difference()`:

This returns a new set containing elements that are only present in the first set but not in the second set.


---

### üß† In simple terms:

> `difference()` gives you the **unique elements that belong *only* to set A**,
> not appearing in set B (or others).

So yes ‚úÖ ‚Äî it focuses **only on what‚Äôs unique to set A**.
It doesn‚Äôt care about what‚Äôs in set B unless it also appears in A (then it removes those).

---

### üîç Example to make it clear

```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}

result = A.difference(B)
print(result)
```

üì§ Output:

```
{1, 2, 3}
```

Explanation:

* `A` has `{1, 2, 3, 4, 5}`
* `B` has `{4, 5, 6, 7}`
* The ones **unique to A** (not in B) are `{1, 2, 3}` ‚úÖ

---

If you flip it:

```python
result = B.difference(A)
print(result)
```

üì§ Output:

```
{6, 7}
```

‚û°Ô∏è Now it‚Äôs showing **what‚Äôs unique to B**.

---

### üß© In short

| Operation         | Meaning             | Result      |
| ----------------- | ------------------- | ----------- |
| `A.difference(B)` | Items **only in A** | `{1, 2, 3}` |
| `B.difference(A)` | Items **only in B** | `{6, 7}`    |

---

üí° **Quick memory tip:**

> Think of `.difference()` as **‚Äúwhat‚Äôs left in A after removing anything B also has.‚Äù**

---

Would you like me to show you how this compares visually using Venn diagram logic (A-only, B-only, intersection)? It makes the relationship super easy to remember.

In [26]:
# Create a new set with animals that are only in the eats_meat set
carnivore_only = eats_meat.difference(eats_plants)
print(carnivore_only)

{'Lion', 'Tiger', 'Hawk', 'Cheetah', 'Leopard'}

---
#### d) Subset ‚Äì `issubset()`:
---

This returns `True` if the set is a subset of another set, otherwise it will return `False`.

In [27]:
# Check if eats_plants is a subset of all_animals
eats_plants_subset = eats_plants.issubset(all_animals)
print(eats_plants_subset)

True

In [28]:
attndance.issubset(monday_fellowship_attendance_2)

True

### 7. Other set methods

Other built-in methods we can use when working with sets:

---
#### a) len( )
---

We use the `len()` function to determine the number of elements in a set.

In [29]:
# Return the number of elements in carnivore_only
Length_of_set = len(carnivore_only)
print(f"No. of animals that are exclusively carnivorous: {Length_of_set}")

No. of animals that are exclusively carnivorous: 5

---
#### b) clear() 
---
We use the `clear()` function to remove all elements from a set.

In [30]:
# Remove all elements from set all_animals
all_animals.clear()
print(all_animals)

set()

## Use case:

Sets are great for carrying out membership tests; that is, checking if an element belongs to a collection. They are also useful when we wish to perform combinations or comparisons among collections using set operations. Sets are also effective when we want to keep unique elements and eliminate duplicates.

In the case of a library, sets can be used to group the books based on their genre, where each set corresponds to a specific genre. We can use these sets to check whether a specific book belongs to a particular genre. We can also perform set operations to find common books across different genres in the library.

## Summary

We have looked at ways of creating sets and manipulating them. Take time to explore other methods and operations that can be performed on sets.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>